@font-face {
            font-family: "n1";
            src: url("https://www.turinflow.com.br/assets/NotoSans-Thin.woff2");
        }

        @font-face {
            font-family: "a1";
            src: url("https://www.turinflow.com.br/assets/Articulat%20CF%20Bold.woff2");
        }

        @font-face {
            font-family: "n2";
            src: url("https://www.turinflow.com.br/assets/NotoSans-Light.woff2");
        }

        @font-face {
            font-family: "g2";
            src: url("https://www.turinflow.com.br/assets/GoogleSansFlex_120pt-ExtraLight.ttf");
        }

        @font-face {
            font-family: "g1";
            src: url("https://www.turinflow.com.br/assets/GoogleSansFlex_120pt-Thin.ttf");
        }

        .n1 {
            font-family: n1, -apple-system, BlinkMacSystemFont;
        }

        .a1 {
            font-family: a1, -apple-system, BlinkMacSystemFont;
        }
        
        .n2 {
            font-family: n2, -apple-system, BlinkMacSystemFont;
        }

        .g1 {
            font-family: g1, -apple-system, BlinkMacSystemFont;
        }

        .g2 {
            font-family: g2, -apple-system, BlinkMacSystemFont;
        }