.row {
    flex-direction: column; 
    row-gap: 0.6rem;
    height: auto; 
    display: flex; 
    background-color: #eee;
    border-radius: 0 0 10px 10px; 
    padding-bottom: 1rem; 
    justify-content: space-evenly;
}

.title {
    font-size: 1.8rem; 
    margin: 0; 
    color: #555;
    font-weight: 500;
    line-height: 2.1rem;
    width: 100%;
    padding-left: 0.25rem;
}
